<%- include("partials/header")-%>

<div class="blog-div">
  <h1 class="blog-heading"><%=blog_title%></h1>
  <br>
  <img class="web3-img" src="<%=blog_img1%>" alt="Not found">

  <p>
    <%=blog_content%>
    <img class="web3-img2" src="<%=blog_img2%>" alt="not found">
    <%=blog_content_2%>
</p>


<p>For further Reference </p>
<a href="<%=blog_refer%>">Click Here</a>
</div>
<%- include("partials/footer")-%>
